* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    position: fixed;
    top: 40%;
    left: 50%;

    transform: translate(-50%, -50%);

    background: rgb(32, 32, 32);
    color: white;

    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    
    text-align: center;
    
}

.user-box {
    width: 120px;
    height: 20%;
    margin-right: 20px;
    float: left;
}

.user-box p {
    color: rgb(102, 102, 102);
    font-size: 17px;
}

.user-box .header {
    width: 120px;
    height: 125px;
    margin-bottom: 8px;
    border: 4px solid rgb(46, 46, 46);
    transition: .3s;
}

.user-box .header:hover {
    cursor: pointer;
    border-color: rgb(105, 105, 105);
}


.user-box .header img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
}